:root {
  @font-face {
    font-family: sans-serif;
    src: url("./assets/Fonts/Inter-Regular.ttf");
  }

  @font-face {
    font-family: serif;
    src: url("./assets/Fonts/Lora-Regular.ttf");
  }

  @font-face {
    font-family: mono;
    src: url("./assets/Fonts/Inconsolata-Regular.ttf");
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  max-width: 1000px;
  margin: 0 auto;
  position: relative;
  font-family: "sans-serif";
}

body.dark-mode {
  background-color: #050505 !important;
  color: #fff;
  transition: background-color 0.3s, color 0.3s;
}

.welcome-section,
.error-section {
  height: calc(100vh - 25rem);
  margin-top: 5rem;
}

/*___Header Section Start___*/

header {
  margin: 0 auto;
  padding: 3.5rem 8rem;
}

header,
nav,
.font-switcher-container {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

nav,
.font-switcher-container {
  gap: 16px;
}

.font-switcher-container {
  cursor: pointer;
}

.font-switcher-menu {
  font-size: 18px;
  padding: 10px 18px;
}

.font-switcher-menu p {
  cursor: pointer;
  font-weight: 600;
  margin-bottom: 10px;
}

.font-switcher-menu p:hover {
  color: #a445ed;
}

button {
  align-items: center;
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  font-size: 18px;
  outline: none;
}

select {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.font-switcher-menu {
  font-weight: 600;
  font-size: 20px;
}

.font-switcher-menu.dark {
  color: white;
}

.font-switcher-menu.dark > option {
  background-color: #2d2d2d;
}

.arrow-down-icon {
  color: #a445ed;
  font-size: 24px;
}

.vertical-line {
  color: #2d2d2d;
  font-size: 22px;
  font-weight: 600;
}

.theme-switcher-icon {
  color: #757575;
  font-size: 26px;
}

.sun-icon {
  color: #a445ed;
}

/* Header Section End */

/* ___Main Section Start___*/
main {
  padding-inline: 8rem;
}

.search-bar {
  display: flex;
  align-items: center;
  height: 65px;
  background-color: #e9e9e9;
  padding-inline: 24px;
  border-radius: 14px;
}

.search-bar.dark {
  background-color: #2d2d2d;
}

.search-bar input {
  font-family: inherit;
  align-self: stretch;
  font-size: 20px;
  border: none;
  outline: none;
  width: 100%;
  background-color: inherit;
  color: #3a3a3a;
}

.search-bar.dark input {
  color: white;
}

.search-icon {
  cursor: pointer;
  font-size: 22px;
  color: #a445ed;
}

.error-container > p {
  color: #ff5252;
  line-height: 1.5;
}

/*___Main Section End___*/

/* ___Welcome Section Start___ */
.welcome-section {
  margin-top: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.welcome-title-info > h2 {
  line-height: 2.5;
}
/* ___Welcome Section Start___ */

/* ___Not Found Word Start___*/
.error-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.error-heading {
  line-height: 3;
}

.error-description {
  max-width: 600px;
  color: #757575;
  font-size: 18px;
  text-align: center;
}
/* ___Not Found Word End___*/

/* ___Dictionary Definition Section Start___*/
.meaning-page {
  margin-block: 3rem;
}

.definitions-meaning-section {
  margin-block: 30px;
}

.word-pronunciation-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.text-container .word-text {
  font-size: 3.8rem;
}

.text-container .phonetic-text {
  color: #a445ed;
  font-size: 1.5rem;
}

.part-of-speech {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.part-of-speech span {
  font-size: 22px;
  font-weight: 600;
}

.meanings-section {
  margin-block: 30px;
}

.meanings-section .meaning-title {
  font-size: 17px;
  color: #757575;
}

.meaning-list {
  margin-block: 20px;
}

.meaning-list li {
  margin-left: 40px;
  margin-block: 20px;
}

.meaning-list li::marker {
  color: #a445ed;
  font-size: 1.2em;
}

.term-section {
  display: flex;
  gap: 40px;
  margin-block: 30px;
  align-items: baseline;
}

.term-title {
  color: #3a3a3a;
  font-size: 22px;
}

.term-words {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.term-words span {
  font-size: 20px;
  color: #a445ed;
}

.source-link-section hr {
  border-top: 0px solid #e9e9e9;
}

.source-link {
  display: flex;
  gap: 30px;
  margin-block: 30px;
}

.source-link p {
  font-size: 24px;
  font-weight: 600;
  color: #2d2d2d;
}

.source-link a {
  color: #2d2d2d;
  font-size: 18px;
}

.source-link a.anchor-dark {
  color: white;
}

.link-section {
  display: flex;
  flex-direction: column;
}
/* ___Dictionary Definition Section End___*/

/* ___Loader Section Start___*/
.loader {
  margin-top: 20px;
  width: fit-content;
  font-weight: bold;
  font-family: monospace;
  font-size: 26px;
  clip-path: inset(0 3ch 0 0);
  animation: l4 1s steps(4) infinite;
}
.loader:before {
  content: "Loading...";
}
@keyframes l4 {
  to {
    clip-path: inset(0 -1ch 0 0);
  }
}
/* Loader Section End*/

@media screen and (max-width: 768px) {
  header,
  main {
    padding-inline: 2rem;
  }

  header {
    padding-block: 1.5rem;
  }

  nav,
  .font-switcher-container {
    gap: 10px;
  }

  .font-switcher-menu {
    font-size: 18px;
    padding-inline: 14px;
  }

  .theme-switcher-icon {
    font-size: 24px;
  }

  .search-bar {
    height: 55px;
    padding-inline: 16px;
    margin-top: 3rem;
  }

  .search-bar input {
    font-size: 16px;
  }

  .search-icon {
    font-size: 18px;
  }

  .welcome-title-info > h2 {
    line-height: 2;
    font-size: 18px;
  }

  .text-container .word-text {
    font-size: 3rem;
  }

  .text-container .phonetic-text {
    color: #a445ed;
    font-size: 1.5rem;
  }

  .term-words span {
    font-size: 18px;
  }

  .source-link {
    display: block;
  }

  .source-link a {
    font-size: 18px;
    margin-top: 8px;
  }
}

@media screen and (max-width: 360px) {
  .font-switcher-menu {
    padding-inline: 0px;
  }

  .search-bar input {
    font-size: 14px;
  }

  .welcome-section,
  .error-section {
    margin-top: 8rem;
  }

  .error-heading {
    font-size: 16px;
  }
  .error-description {
    font-size: 16px;
  }

  .term-section {
    gap: 30px;
  }

}
